.sidebar {
  width: 200px;
  float: left;
  padding-right: 1rem;
  box-sizing: border-box;
}

.filter {
  margin-top: 2rem;
}

.filterTitle {
  font-weight: 500;
}

h3 {
  margin-top: 0;
}

select {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}
